# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Environment variables
.env

# Database
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db